<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Calculate Triangle Area</title>
</head>

<body>
    <h1 class="title">Calculate Triangle Area</h1>
    <nav>
        <a href="../index.html">Go Home</a>
    </nav>
    <div class="content">
        <div class="input-field">
            <label for="base"> Enter Base
                <input class="input-cm" min=0 type="number" required> cm
            </label>

        </div>
        <div class="input-field">
            <label for="angle2">Enter Height
                <input class="input-cm" min=0 type="number" required> cm
            </label>
        </div>
    </div>
    <button id="calculate-button">Calculate</button>
    <p class="output"></p>
    <script src="../js/calculateArea.js"></script>
</body>

</html>