<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Triangle Quiz</title>
</head>

<body>
    <h1  class="title">Triangle Quiz</h1>

    <nav>
        <a href="../index.html">Go Home</a>
    </nav>
    <form class="quiz" action="">
        <div class="input-field">
            <p class = "question">The perimeter of an equilateral triangle is 15cm. What is the length of one side</p>
            <label for=""> <input type="radio" name="ques1" value="1" /> 15cm</label>
            <label for=""> <input type="radio" name="ques1" value="2" /> 5cm</label>
            <label for=""> <input type="radio" name="ques1" value="3" /> 30cm</label>
        </div>
        <div class="input-field">
            <p class = "question"> A triangle has angles 60, 60, 60. Is it an equilateral triangle?</p>
            <label for=""> <input type="radio" name="ques2" value="1" /> yes</label>
            <label for=""> <input type="radio" name="ques2" value="2" /> no</label>
        </div>
        </div>
    </form>
    <button id="submit">Submit</button>
    <p class="output"></p>
    <script src="../js/quiz.js"></script>
</body>


</html>